@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.container {
}

nav {
  padding: 15px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-app-logo {
  margin-left: 24px;
}

.nav-search-bar {
  display: flex;
  align-items: center;
}

.nav-search-bar-input {
  width: 573px;
  height: 29px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid var(--Youtube-Border, #ccc);
  background: #fff;
  box-shadow: 0px 1px 1px 0px #eee inset;
}

.nav-search-bar-search {
  width: 63px;
  height: 29px;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #ccc;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
}

.nav-menu {
  margin-right: 5px;
  display: flex;
  column-gap: 24px;
}

.content {
  margin-top: 24px;
}

.content-side-bar-item {
  display: flex;
  align-items: center;
  column-gap: 23px;
  width: 240px;
  height: 40px;
  cursor: pointer;
  padding-left: ;
}
.line {
  width: 240px;
  height: 1px;
  background-color: #e5e5e5;
}
